<!DOCTYPE html>
<html>
  <body>
    <table>
      <tbody>
        <% for (let result of results) { %>
        <tr>
          <td><%- result.title %></td>
          <td><%- result.url %></td>
          <td><%- result.practicable %></td>
        </tr>
        <% } %> 
      </tbody>
    </table>
    <form action="entry" method="POST">
      <button>登録</button>
    </form>
  </body>
</html>
