<!DOCTYPE html>
<html>
<table>
  <tbody>
    <% for (let result of results) { %>
    <tr>
      <td><%- result[0] %></td>
      <td><%- result[1] %></td>
      <td><%- result[2] %></td>
    </tr>
    <% } %> 
  </tbody>
</table>
<form action="entry" method="POST">
  <button>登録</button>
</form>
</html>
